table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

tr:not(:last-of-type) td {
	border-bottom: solid 1px #d7d7db;
}

td {
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
	width: 50%;
	padding: 15px 5px;
}

td:first-of-type {
	text-align: right;
}

input, select {
	width: 100%;
	display: block;
}